[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
ipywidgets = "*"
llama-index = "*"
pydantic = "*"
pydantic-settings = "*"
llama-index-llms-groq = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.8"
